
body {
    background-color: rgb(233, 230, 230);
}

.my-header{
    width: 100%;
    height: 45px;
    background-color: purple;
    border-bottom: solid 3px orange;
    border-top:solid 2px orange;
    color: white
}

.my-hero {
    width : 100%;
    min-height: 300px;
    border-bottom: solid 2px purple;
    border-radius: 10px;
    background-image: url('apartment-cropped.jpg');
    text-align: center;
    padding:20px;
}
.info-text{
    color: rgb(0, 255, 68);
    padding: 20px;
}
.search-btn{
    border: solid 2px purple;
    background-color: green;
    color: white;
}
.register-now{
    border: solid 2px blue;
    color: aqua;
    background-color: purple;
}
.schedule-appointment{
    border: solid 2px blue;
    color: aqua;
    background-color: purple;  
}
.info-text,.search-appartment,.action-buttons{
    padding: 20px;
}
.search-btn,.action-input,.register-now,.schedule-appointment{
    height: 30px;
}



