
body {
    background-color: rgb(233, 230, 230);
}

.my-header{
    width: 100%;
    height: 45px;
    background-color: purple;
    border-bottom: solid 3px orange;
    border-top:solid 2px orange;
    color: white
}

.my-hero {
    width : 100%;
    min-height: 300px;
    border-bottom: solid 2px purple;
    border-radius: 10px;
    background-image: url('apartment-cropped.jpg');
    text-align: center;
    padding: 20px;
    text-size-adjust: large;
}
.info-text{
    color: rgb(0, 255, 68);
}
.search-btn{
    border: solid 2px purple;
    color: green;
}
.register-now{
    border: solid 2px blue;
    color: aqua;
}
.schedule-appointment{
    border: solid 2px green;
    color: rgb(100, 0, 75);
}



