.my-header{
    width: 100%;
    height:45px ;
    background-color: pink;
    border-top: 3px solid #006E52;
    border-bottom:3px solid #006E52;
    color: #006E52;
}
my-hero{
    width: 100%;
    min-height: 300px;
    border-bottom: 2px solid #006E52;
    background-color: #AD8E00;
    border-radius: 10px;
    border: solid;
    background-image: url(https: //images.pexels.com/photos/6207825/pexels-photo-6207825.jpeg?auto=compress&cs=tinysrgb&w=400);

}
body{
    background-color: linen;
}