body {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my-form {
    padding-top: 20%;
    margin-top: 15%;
    margin-left: 30%;
    background-color: white;
    opacity: 0.75;
    padding: 30px;
    margin-right: 30%;
    border: 1px solid #555;
    box-sizing: border-box;
    border-radius: 5px;

}

 


textarea {
    width: 100%;
    resize: none;
    border-radius: 4px;
    height: 60px;
}

.button {
    margin-left: 50%;
    padding: 10px;
    background: #5a0c9f;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

 .email input  {
    width: 100%;
    resize: none;
    border-radius: 4px;
    height: 60px;
}
.names {
    display: block;
}
.names input{
    padding: 1em;
    width: 25%;
    margin-bottom: 10px;
    border-radius: 5px;
}
