
body {
    background-color: rgb(233, 230, 230);
    font-size: larger;
}

.my-header{
    width: 100%;
    height: 45px;
    background-color: purple;
    border-bottom: solid 3px orange;
    border-top:solid 2px orange;
    color: white
    
}

.my-hero {
    width : 100%;
    min-height: 300px;
    border-bottom: solid 2px purple;
    border-radius: 10px;
    background-image: url(file:///C:/Users/Franck/Desktop/DEV/web/Franck/CSS/box-model/apartment-cropped.jpg);

}

.my-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.search-btn {
    
    background-color: green;
}

.register-now {
    background-color: darkorange;
}

.schedule-appointment {
    background-color: coral;
}

