.parent-container{
    width: 900px;
    height: 300px;
    background-color: grey;
}

.my-child {
    width : 200px;
    height: 150px;
    background-image: linear-gradient(green, yellow, grey);
    transform: translate(150%, 50%);
}

.my-child2 {
    width : 200px;
    height: 150px;
    background-image: linear-gradient(green, yellow, grey);
    transform:rotateZ(85deg)
    
}