/* Title: My sustom file CSS */

body{
    background-color: lightgray;
    font-size: 14px;
    
    width: 70%;
    max-height:90% ;
    margin: auto;
    padding-left: 10px;
}

h1{
    color: rgb(107, 84, 98);
    padding-left: 15px;
}
p{
    padding: 20px;
}
