/* Title: My sustom file CSS */

body{
    background-color: lightgray;
    font-size: 14px;
    
    width: 70%;
    max-height:90% ;
    margin: auto;
    padding-left: 10px;
    padding-top: 30px;
    
}

h1{
    color: rgb(107, 84, 98);
    padding-left: 25px;
    border-left: 5px solid slategray ;
}
p{
    border-left: 1px solid slategray ;
    padding: 25px;
}
