body {
    background-image: url();
    background-color: white;
    border: solid 3px;
    
}

.my-header {
    width: 100%;
    height: 45px;
    background-color: purple;
    border: solid 5px green;
    color: white
}

tr, th, td {
    border: solid 2px;
}

th {
    background-color: purple;
}

.ul-list {
    color: green;
}

.ol-list {
    color: blue;
}