body {
    background-image: url(https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,g_xy_center,h_689,q_60,w_1920,x_2396,y_2105/v1/clients/lakenorman/Frankies_Drop_Zone_32353a0a-ee51-4fa5-958c-fe2299156aa3.jpg);
}

.my-header {
    width: 100%;
    height: 45px;
    background-color: purple;
    border-bottom: solid 3px orange;
    border-top:solid 2px orange;
    color: white
}