body {
    background-color: rgb(233, 230, 230);
}

.my-header{
    width: 100%;
    height: 45px;
    background-color: purple;
    border-bottom: solid 3px orange;
    border-top:solid 2px orange;
    color: white
}

.my-hero {
    width : 100%;
    min-height: 500px;
    border-bottom: solid 2px purple;
    border-radius: 10px;
    background-image: url('apartment-cropped.jpg');
}

.parent{
    text-align:center;
    

}
.info-text{
    font-display: 100px;
    font-style: normal;
    font-synthesis:weight;
    font-size:xx-large;
    color:black;
    margin:auto;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    z-index: 15; 

}
input{
    min-width: 475px;
    min-height: 45px;
    margin: 10px;
    border-radius:5px;

}

.search-btn{
    background-color: green;
    color:white;
    font-size: 20px;
    min-width: 105px;
    min-height :45px;
    border-radius: 5px;

    
}
.action-buttons{
    min-width: 100px;
    min-height:50px


}
.register-now{
    font-size: larger;
    font-weight:normal;
    min-width: 50px;
    min-height: 50px;
    margin: 10px;
    border-radius: 3px;
    

}

.schedule-appointment{
    font-size: larger;
    font-weight:normal;
    min-width: 40px;
    min-height: 50px;
    border-radius: 3px;


}






