.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
}

.menu-li {
 float: left;

}

 #my-custom-body{
     
     border: solid 2px purple;
     border-radius: 10px;
     display: inline-block;
     width:100%;
     text-align: center;
 }

 .menu-li a {
      display: block;
      color:white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
 }

 .body-inner {
     float:left;
 }

 #body-one {
     color : orange;
 }

 #body-two {
     color : green;
 }

 .menu-li-btn{
     margin-left: 60%;
     margin-top: 14px;
 }
 .btn {
     background-color: lightblue;
     border: solid 2px white;
     border-radius: 20px;
     height: 25px;
     cursor: pointer;
 }
 .btn:hover{
     background-color:orange;
 }
 
 .my-hero {
    width : 100%;
    min-height: 60vh;
    border-bottom: solid 2px purple;
    border-radius: 10px;
    background-color:lavender;
    position: absolute;
    margin-top: 50px;
}


.my-box {
    margin-top: 5%;
    margin-left: 25%;
    background-color: white;
    margin-right: 45%;
    opacity: 0.75;
    padding: 25px;
    border-radius: 20px;
    min-width: 65px;
    

}

.info-text, .search-appartments, .action-buttons{
    padding: 10px
}

.search-btn, .search-input, .register-now, .schedule-appointment{
    height: 30px;
}

.register-now, .schedule-appointment {
    background-color: purple;
    color : white
}

.search-btn {
    background-color: green;
    color : white;
}

.search-btn, .register-now, .schedule-appointment{
    border: 2px solid blue;
    border-radius: 10px;
}
    a:hover{
        color:orange
    } 
    a:visited {
        color:white
    }
    